/* This allows us to have consistent font (size, family, weight), line height with a consistent background image. */

/* scroll allows end user to scroll through our website */
html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 1.25rem;
  line-height: 1.6;
  font-family: "Anton", sans-serif;
  font-weight: bolder;
  scroll-behavior: smooth;
  color: #29478d;
  background-color: #fffcf6;
}

#nav-bar {
  width: 100%;
  z-index: 9999;
  border: 0;
  font-size: 1.25rem !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
  color: #29478d !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #d2302c !important;
  background-color: #fffcf6 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fffcf6 !important;
}

.padR {
  margin-right: 1rem;
}

.padL {
  margin-left: 1rem;
}

#brand-container {
  line-height: 0.5;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#_aMe {
  text-align: center;
  background: #fffcf6;
  border: none;
}

#head {
  text-align: center;
  color: #d2302c;
  padding: 100px 25px;
}

#cardbck {
  background-color: inherit;
  color: #d2302c;
}

#contactinfo {
  font-weight: lighter;
}

.btn {
  color: #d2302c;
  background-color: #d6d8dd;
  font-weight: bold;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #20418e;
  color: #fffcf6;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #d2302c;
}
